*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(8, 8, 139);
}

main{
    margin-top: 40px;
    background-image: linear-gradient(120deg, white, whitesmoke);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1{
    color: rgb(8, 8, 139);
    text-align: left;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-image: linear-gradient(120deg, white, rgb(8, 8, 139));
}

button{
    cursor: pointer;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    width: 70px;
}

button:checked, button:hover{
    background-color: white;
    border: 2px solid rgb(8, 8, 139);
    color: rgb(8, 8, 139);
}

#container, #container-edit{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    background-color: transparent;
}

#container-edit{
    margin-top: 80px;
    animation: container-edit-block 2s cubic-bezier(0.23, 1, 0.320, 1);
    display: none;
}

@keyframes container-edit-block {
    0%{
        transform: translateX(200%);
    }

    100%{
        transform: translateX(0px);
    }
}

#container-edit h1{
    width: 100%;
    text-align: right;
    color: white;
}

#container-edit span{
    font-size: 2em;
    align-self: flex-start;
    color: black;
    font-weight: bold;
}

.container-none{
    animation: container-none 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes container-none {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(200%);
    }
}



.elements{
    margin-bottom: 15px;
}

.elements > input[type="text"], .elements > .row > input[type="text"]{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 2em;
    outline: 3px solid rgb(8, 8, 139);
    border-radius: 10px;
}

#output{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.rowWrap{
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    justify-content: space-between;
}



button{
    background-color: rgb(8, 8, 139);
    color: white;
    margin-left: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 2em;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    justify-content: center;
}

.card{
    background-color: rgb(8, 8, 139);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.card> input{
    margin: 5px;
    height: 20px;
    width: 20px;
}

.cardCheck{
    background-color: red;
}

.card> label{
    color: white;
}

.createDiv{
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
    margin-bottom: 30px;
    animation: createCard 2s cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes createCard {
    20%{
        transform: translateY(-120px);        
    }

    50%{
        transform: translateY(0px);               
    }

    60%{
        transform: scale(0.8);        
    }

    60%{
        transform: scale(0.9);        
    }

    100%{
        transform: scale(1);        
    }
}


.createBtn{
    display: flex;
    margin-top: 20px;
}

.createTitle{
    background-image: linear-gradient(120deg, white, rgb(8, 8, 139));
}

.cardOK{
    background-color: rgb(6, 104, 35);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(6, 104, 35);
    margin-bottom: 30px;
    animation: sucessTarefa 2s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardOK > h2{
    background-image: linear-gradient(120deg, white, rgb(6, 104, 35));
    color: rgb(6, 104, 35);
    padding: 5px;
    box-sizing: border-box;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes sucessTarefa {
    20%{
        transform: scale(0.8);        
    }

    50%{
        transform: scale(0.9);        
    }

    100%{
        transform: scale(1);        
    }
}

.Xcard{
    background-color: rgb(34, 34, 34);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(255, 3, 3, 0.658);
    margin-bottom: 30px;
    animation: remocaoCard 2s cubic-bezier(0.23, 1, 0.320, 1);
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.Xcard > h2{
    background-image: linear-gradient(120deg, white, rgb(139, 17, 8));
    color: rgb(139, 17, 8);
    padding: 3px;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.Xcard button{
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: black;
    color: white;
    border: 3px solid white;
    display: none;
}

@keyframes remocaoCard {
    0%{
        transform: translateX(0px);
        margin-bottom: 30px;
    }

    20%{
        transform: translateX(-20px);
        margin-bottom: 29px;

    }

    50%{
        transform: translateX(20px);
        margin-bottom: 18px;
    }

    100%{
        transform: translateX(120%);
        margin-bottom: 0px;
        display: none;
    }
}

#cardMessageDefault{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2em;
    background-image: linear-gradient(120deg, rgb(41, 41, 41), rgb(53, 53, 53));
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.messageDefault{
    animation: messageDefaultOn 1s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes messageDefaultOn {
    0%{
        transform: translateY(-150%);
    }

    90%{
        transform: translateY(20%);
    }

    100%{
        transform: translateY(0px);
    }
}


.nonemessageDefault{
    animation: messageDefaultNone 1s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes messageDefaultNone {
    0%{
        transform: translateY(0px);
    }

    90%{
        transform: translateY(-40%);
    }

    100%{
        transform: translateY(-150%);
    }
}

@media screen and (min-width: 500px) {
    #container, #container-edit{
        width: 90%;
    }
}

/*

btnOk
btnX
btnEdit
*/

#btnOk{
    background-color: rgb(6, 104, 35);
    color: white;
}

#btnX{
    background-color: rgb(216, 28, 15);
    color: white;
}