*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #1c1c1c;
}

header{
    text-align: center;
    font-size: 0.6em;
    color: white;
    background-color: #171717;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 2px solid #28cf28;
}

main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessao{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #353535;
    width: 90%;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#adicionar{
    background-color: #28cf28;
    border: none;
    border-radius: 0px 5px 5px 0px;
    
}

#itarefas{
    border: none;
    color: #28cf28;
    width: 100%;
}

#itarefas, #adicionar{
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
}

.elemento{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contents{
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}

.contents > button{
    width: 100%;
    height: 25px;
    border-radius: 0px;
    border: 2px solid #1c1c1c;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #353535;
    color: #28cf28;
    margin-left: 3px;

}

.contents > button:hover{
    background-color: #1c1c1c;
    color: white;
}

.text{
    background-color: #171717;
    color: white;
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
}

button{
    cursor: pointer;
}

#container-element{
    display: none;
}

/*Btn - interação*/

.done-line{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #28cf28;
    border: 2px solid #167316;
    padding: 7px;
    box-sizing: border-box;

}

.done-line> .text{
    background-color: #167316;
}

#content-message{
    background-color: #4e4e4e;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

#edit-container{
    width: 90vw;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #353535;
    border: 4px solid rgb(78, 132, 239);
    color: white;
    display: flex;
    flex-direction: column;
    display: none;


}

#edit-container> h1{
    margin-bottom: 20px;
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
}

#backpage{
    background-color: #1c1c1c;
    border: 3px solid #4e4e4e;
    color: #4e4e4e;
    box-sizing: border-box;
    padding: 5px;
}

#output{
    color: red;
    font-weight: bold;

}

#tarefa-selecionada{
    background-color: rgb(255, 216, 150);
    width: 200px;
    overflow-y: auto;
    color: #1c1c1c;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}

#form-alterar{
    background-color: blue;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

#alteração-tarefa{
    width: 150%;
    font-size: 1.5em;
    padding: 10px;
    box-sizing: border-box;
    background-color: #167316;
    color:  #73ff00cd;
    border: 2px solid #28cf28;
}

#alterar{
    width: 50%;
    background-color: rgb(249, 42, 27);
    border: 2px solid #fa5353;
    color: white;
    font-weight: bold;
}