*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primeira-color: rgb(183, 30, 183);
    --segunda-color: #ccc;
    --grafico-yellow: yellow;
    --grafico-red: red;
    --grafico-green: green;
}


header{
    padding: 5px;
    text-align: center;
    font-size: 0.5em;
    background-color: var(--primeira-color);
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.sessão{
    background-color: #ccc;
    width: 90vw;
    margin: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.628);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 90%;
}

.campos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-top: 2px solid var(--primeira-color);
    border-bottom: 2px solid var(--primeira-color);
    background-image: linear-gradient(120deg, rgb(131, 131, 131)
    , white) ;
    font-weight: bold;
}

.campos > input{
    width: 50px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    color: var(--primeira-color);
    border-radius: 5px;
    border: 2px solid var(--primeira-color);
}

.campos > label{
    font-size: 0.8em;
    align-self: center;
}

button{
    background-color: var(--grafico-green);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    cursor: pointer;
}

button:hover{
    background-color: white;
    border: 2px solid var(--grafico-green);
    color: var(--grafico-green);
}

.grafico{
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    height: 250px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    margin: 30px;
}

.element{
    height: 100px;
    width: 100%;
    background-color: red;
    margin: 10px 10px 0px 10px;
}


.d{
    background-color: var(--grafico-green);
    height: 50%;
}

.ed{
    background-color: var(--grafico-yellow);
    height: 40%;
}

.nd{
    background-color: var(--grafico-red);
    height: 100%;
}

#info-graf{
    background-color: white;
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
}

.contents{
    width: 100%;
    margin: 10px;
    display: flex;
}


.quadradinho{
    height: 20px;
    width: 20px;
}

.contents> p{
    padding-left: 5px;
}

.output{
    background-color: white;
    border: 2px solid var(--segunda-color);
    margin: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.845);
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.element-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
}



@media screen and (min-width: 500px) {

    main{
        margin-top: 60px;
    }

    .sessão{
        max-width: 500px;
    }

    #info-graf{
        flex-direction: column;
        overflow: none;
    }
}

@media screen and (min-width: 950px) {

    main{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
}