@font-face {
    font-family:extrabold;
    src: url(../fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family:bold;
    src: url(../fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family:normal;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: rgb(112, 112, 112);
}

h2{
    color: black;
}


header.head-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header.head-mobile> img[src="images/icon-menu.svg"]{
    width: 65px;
    height: 25px;
}

main.main-mobile{
    padding: 25px;
}

.main-mobile>img[src="images/image-web-3-mobile.jpg"]{
    max-width: 100%;
}

.info-mobile h2{
    font-size: 3em;
    font-family:extrabold;
    margin-top: 25px;
}

.info-mobile p{
    line-height: 1.5;
    margin-top: 20px;
}

.info-mobile button.button-pink{
    background-color: rgb(255, 114, 121);
    border: none;
    padding: 15px 40px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:bold;
    color: white;
    text-align: center;
}

.info-mobile{
    margin-bottom: 45px;
}

.box-blue-mobile{
    background-color: #020113;
    box-sizing: border-box;
    padding: 25px;
}

.box-blue-mobile h2{
    color: rgb(238, 191, 61);
    font-size: 2.5em;

}

.box-blue-mobile h3{
    color: white;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 35px;
}

.box-blue-mobile hr{
    margin-top: 35px;
}

.eletronics-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.devices-mobile{
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-eletronics{
    width: 50%;
    height: 100%;
}

.img-eletronics> img{
    max-width: 100%;
    height: 100%;
}

.info-mobile-eletronics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.info-mobile-eletronics> h2{
    color: #ccc;
    font-family:bold;
    font-size: 2.5em;
    flex-grow: 1;
}

.info-mobile-eletronics h3{
    font-family:extrabold;
    font-weight: bolder;
    flex-grow: 2;
}

.main-desk{
    display: none;
}

@media screen and (min-width:1000px) and (max-width:1024px) {
    .main-mobile{
        display: none;
    }

    .head-mobile{
        display: none;
    }

    .head-mobile> img{
        display: none;
    }

    .main-desk{
        display: block;
    }

    body{
        background-color: whitesmoke;
    }

    .main-desk{
        background-color: white;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.404);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 50px 100px;
        padding-top: 180px;
        box-sizing: border-box;
    }

    .head-desk{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
    }

    .menu-desk{
        display: flex;
        align-items: flex-end;
    }

    .menu-desk> ul{
        display: flex;
        flex-direction: row;
    }

    .menu-desk> ul> li{
        list-style-type: none;
        margin-left: 25px;
    }

    .menu-desk> ul> li> a{
        text-decoration: none;
        color: rgb(82, 82, 82);
        font-weight: 600;
    }

    .articles-desk{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 240px 170px 100px;
        gap: 20px;
        grid-template-areas:
            "img img  box"
            "info info box"
            "fig fig  fig"
        ;
    }

    

    .articles-desk> div:nth-child(1){
        background-color: blue;
        grid-area:img;
    }

    .articles-desk> div:nth-child(2){
        background-color: #020113;
        grid-area:box;
        width: 290px;
        box-sizing: border-box;
        padding: 15px;
    }

    .articles-desk> div:nth-child(3){
        grid-area:info;
    }

    .articles-desk> div:nth-child(4){
        grid-area:fig;
    }

    .fundo-img{
        background: url(../images/image-web-3-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .box-blue-desk{
        box-sizing: border-box;
        padding: 5px;
    }
    
    .box-blue-desk h2{
        color: rgb(238, 191, 61);
        font-size: 2em;
    
    }
    
    .box-blue-desk h3{
        color: white;
        font-size: 1.2em;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    
    .box-blue-desk hr{
        margin-top: 15px;
    }

    .info-desk{
        display: flex;
    }

    .items{
        display: flex;
        flex-direction: column;
    }

    .items> h2{
        font-size: 3.3vw;
    }

    .items> p{
        flex-grow: 2;

    }

    .items> .button-pink{
        align-self: flex-start;
        flex-grow: 1;
    }

    .items:nth-of-type(1){
        width: 50%;
    }

    .items:nth-of-type(2){
        width: 70%;
        text-align: justify;
    }

     button.button-pink{
        background-color: rgb(255, 114, 121);
        border: none;
        padding: 15px 40px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family:bold;
        color: white;
        text-align: center;
    }

    .fig{
        display: flex;

    }

    .articles{
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 30px;

    }

    .image{
        height: 100%;
        width: 30%;
    }

    .image> img{
        max-width: 100%;
        height: 100%;
    }
    
    .information{
        height: 100%;
        width: 60%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 2;
    }

    .information h2{
        flex-grow: 1;
        color: #ccc;
    }

    .information h3{
        flex-grow: 2;
        font-size: 1em;

    }

    .information p{
        font-size: 0.8em;
    }
}

@media  screen and (min-width: 1025px) {
    .main-mobile{
        display: none;
    }

    .head-mobile{
        display: none;
    }

    .head-mobile> img{
        display: none;
    }

    .main-desk{
        display: block;
    }

    body{
        background-color: whitesmoke;
    }

    .main-desk{
        background-color: white;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.404);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85vw;
        padding: 50px 100px;
        padding-bottom: 80px;
        box-sizing: border-box;
    }

    .head-desk{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
    }

    .menu-desk{
        display: flex;
        align-items: flex-end;
    }

    .menu-desk> ul{
        display: flex;
        flex-direction: row;
    }

    .menu-desk> ul> li{
        list-style-type: none;
        margin-left: 25px;
    }

    .menu-desk> ul> li> a{
        text-decoration: none;
        color: rgb(82, 82, 82);
        font-weight: 600;
    }

    .articles-desk{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 240px 170px 100px;
        gap: 20px;
        grid-template-areas:
            "img img  box"
            "info info box"
            "fig fig  fig"
        ;
    }

    

    .articles-desk> div:nth-child(1){
        background-color: blue;
        grid-area:img;
    }

    .articles-desk> div:nth-child(2){
        background-color: #020113;
        grid-area:box;
        width: 290px;
        box-sizing: border-box;
        padding: 15px;
    }

    .articles-desk> div:nth-child(3){
        grid-area:info;
    }

    .articles-desk> div:nth-child(4){
        grid-area:fig;
    }

    .fundo-img{
        background: url(../images/image-web-3-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .box-blue-desk{
        box-sizing: border-box;
        padding: 5px;
    }
    
    .box-blue-desk h2{
        color: rgb(238, 191, 61);
        font-size: 2em;
    
    }
    
    .box-blue-desk h3{
        color: white;
        font-size: 1.2em;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    
    .box-blue-desk hr{
        margin-top: 15px;
    }

    .info-desk{
        display: flex;
    }

    .items{
        display: flex;
        flex-direction: column;
    }

    .items> h2{
        font-size: 3.3vw;
    }

    .items> p{
        flex-grow: 2;

    }

    .items> .button-pink{
        align-self: flex-start;
        flex-grow: 1;
    }

    .items:nth-of-type(1){
        width: 50%;
    }

    .items:nth-of-type(2){
        width: 70%;
        text-align: justify;
    }

     button.button-pink{
        background-color: rgb(255, 114, 121);
        border: none;
        padding: 15px 40px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family:bold;
        color: white;
        text-align: center;
    }

    .fig{
        display: flex;

    }

    .articles{
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 30px;

    }

    .image{
        height: 100%;
        width: 30%;
    }

    .image> img{
        max-width: 100%;
        height: 100%;
    }
    
    .information{
        height: 100%;
        width: 60%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 2;
    }

    .information h2{
        flex-grow: 1;
        color: #ccc;
    }

    .information h3{
        flex-grow: 2;
        font-size: 1em;

    }

    .information p{
        font-size: 0.8em;
    }

    
}