*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    background-color: #0D1A2D;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.card{
    background-color: #15283F;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    border-radius: 15px;
    padding: 20px;
    
}

.box-img{
    position: relative;
    display: block;
}

.box-img:hover::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-color: rgba(0, 255, 255, 0.411);
    border-radius: 15px;
    cursor: pointer;

}

.box-img:hover::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: url(../images/icon-view.svg);
    cursor: pointer;

}

img[src="images/image-equilibrium.jpg"]{
    max-width: 100%;
    border-radius: 15px;
    display: block;
    overflow: hidden;
}



.info{
    margin-top: 20px;
    margin-bottom: 25px;
}

.info h2{
    margin-bottom: 10px;
    color: white;
    font-size: 1.2em;
}

.info h2:hover{
    color: aqua;
    cursor: pointer;

}

.info p{
    color: white;
    opacity: 50%;
}

.icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.icones-dimond{
    display: flex;
}

.icones-dimond p{
    font-weight: 700;
    color: aqua;
    align-self: center;
    margin-left: 5px;
}

.icones-temp{
    display: flex;
}

.icones-temp p{
    color: white;
    opacity: 50%;
    align-self: center;
    margin-left: 5px;
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin-top: 15px;

}

.img{
    width: 17%;
    height: 100%;
    margin-right: 15px;
    border-radius: 50%;
    background: url(../images/image-avatar.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.discription{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.discription p{
    align-self: center;
    color: white;
    
}

.discription p:hover{
    color: aqua;
    cursor: pointer;
}


.discription> p> span.name-foot{
    color: white;
    opacity: 60%;
}

.discription> p> span.name-foot:hover{
    opacity: 60%;
}

hr.line-grey{
    color: rgba(204, 204, 204, 0.568);
    opacity: 20%;
}

img[src="images/icon-clock.svg"]{
    width: 25px;
}

@media screen and (min-width: 450px){
    .card{
        width: 350px;
    }
}

